# Database
db.sqlite3

# Static files
static_collected/

# IDE and OS files
.vscode/
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so  # C extensions

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Testing and coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Documentation
docs/_build/
/site  # mkdocs

# Caches and logs
.cache
*.log
.mypy_cache/
.ruff_cache/
.webassets-cache
.scrapy

# Other tools
.spyderproject
.spyproject
.ropeproject
celerybeat-schedule
*.sage.py
.ipynb_checkpoints
.python-version  # pyenv